@CHARSET "UTF-8";

.RBody {
	width: 730px;
	height: auto;
	border: 1px solid #CCCCCC;
	margin: 10px 10px;
	padding: 10px 10px;
	display: inline-block;
}

.RHead {
	padding: 5px 5px;
	height: 30px;
	border-bottom: 2px solid #CCCCCC;
}

.RHeadL {
	font-family: "微软雅黑";
	font-size: 20px;
	color: darkslategrey;
	font-weight: bold;
	width: auto;
	float: left;
}

.RHeadR {
	font-family: "微软雅黑";
	font-size: 16px;
	color: darkslategrey;
	font-weight: bold;
	width: auto;
	margin: 2px 2px;
	padding: 2px 2px;
	float: right;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.RCollect {
	width: 200px;
	height: 200px;
	border: 1px solid #CCCCCC;
	margin: 10px 10px;
	padding: 10px 10px;
	float: left;
}

.logoBox {
	width: 50%;
	height: 50%;
	border: 1px solid #CCCCCC;
	float: left;
}

.logo {
	width: 100%;
	height: 100%;
}

.logoR {
	width: 45%;
	height: 30%;
	padding: 1px 0px;
	float: right;
}

.logoD {
	width: auto;
	height: 60%;
	padding: 5px 0px;
}

.logoName {
	width: auto;
	padding: 2px 2px;
	font-family: "微软雅黑";
	font-size: 17px;
	color: grey;
	font-weight: bold;
}

.logoRDetail {
	width: auto;
	padding: 8px 2px 2px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: grey;
}

.logoDDetail {
	width: auto;
	padding: 2px 2px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: grey;
}

.cancelLogo {
	width: 20px;
	height: 15px;
	float: right;
	margin: 0px 5px;
	cursor: pointer;
}

.clear {
	clear: both;
}

.logoName a {
	text-decoration: none;
	color: #2F4F4F;
}

.test {
	width: auto;
	height: 1px;
}
