#search_div {
	margin-top: 10px;
	margin-bottom: 20px;
}

.searchType{
	margin-left: 15px;
	display: inline-block;
	height: 30px;
	width: 130px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	outline: medium none;
	cursor: pointer;
	background-color: #32A5E7;
	color: #FFF;
	text-decoration: none;
}

.searchType:HOVER {
	background: #2b8cc5
}

#fm {
	margin: 0;
	padding: 10px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}

.fitem input {
	width: 160px;
}

.detail{
	
	width: 400px;
}

