body{
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.hU {
	width:100%;
	display: inline-block;
	background-color: #426AB3;
	font-size: 15px;
	padding: 12px 0px;
}
.hU a {
	color: white;
	text-decoration: none;
}
.hUL {
	color: white;
	text-align: right;
	width:26%;
	float: left;
}
.hUR {
	color:white;
	text-align: right;
	width:55%;
	float: left;
}
.hD {
	width:80%;
	height: 65px;
	background-color: white;
	padding: 5px 0px 10px 0px;
	
	margin-left: auto;
	margin-right: auto;
	
}
.hD1 {
	width:22%;
	height:100%;
	float: left;
}
.hD2 {
	width:30%;
	padding-top: 15px;
	float: left;
	color:#808080;
	font-size: 21px;
}
.hD2D {
	margin: 0px 5px;
	padding: 0px 5px;
	border-right: 2px solid #CCCCCC;
	float: right;
}
.HLogo {
	width: 150px;
	height:100%;
	float: right;
}
.hD3 {
	width:12%;
	float: left;
	height: 27px;
	padding-top: 12px;
	padding-left: 120px;
}
.hD3 .searchBox{
	width: 270px;
	height: auto;
	min-height:24px;
	over-flow:hidden;
	border:0px solid red; 
	float: left;
}
.hD3 .searchBox .searchInput{
	width:85%;
	height: 100%;
	border: 2px  solid #426AB3;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	float: left;
}
.hD3 .searchBox .searchBtn{
	
	height: 79%;
	font-size:13px;
	padding: 1px 6px;
	background-color: #426AB3;
	border-right: 2px  solid #426AB3;
	border-top: 2px  solid #426AB3;
	border-bottom: 2px  solid #426AB3;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
	color: white;
	float: left;
	cursor: pointer;
}

.mainBox{
	
	min-height: 100px;
	overflow: hidden;
	background-color: #E2DFE9;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #CCCCCC;
}
.bodyBox{
	width:980px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #CCCCCC;
	min-height: 100px;
	overflow: hidden;
	background-color: white;
}
.sidebarBox {
	width: 12%;
	height:350px;
	background-color: #ECEDEE;
	color: #2F4F4F;
	font-size: 15px;
	font-weight:bold;
	float: left;
	text-align: left;
	padding-top: 18px;
	border-right: 1px solid #CCCCCC;
}
.sideAttrBox{
	width:auto;
	height: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	vertical-align: middle;
}
.sideAttrChildBox{
	width:auto;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
}
.contentBox{
	width:80%;
	float: right;
	height: auto;
	background-color: white;
	text-align: left;
	padding-left: 30px;
	min-height: 100px;
	overflow: hidden;
	
}

.sidebarBox .sideAttrBox a{
	text-decoration: none;
	color:#2F4F4F;
	cursor:pointer;
}
.sidebarBox .sideAttrChildBox a{
	text-decoration: none;
	color:#788681;
	cursor:pointer;
}
.hD2D a{
	color:#808080;
	text-decoration: none;
}