body {
	background: url(/order/images/bg.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	margin: 0px;
}

a{
	
	text-decoration: none;
	color: white;
}
a:HOVER{
	
	cursor: pointer;
	text-decoration: underline;
}

#top {
	height: 40px;
	line-height:40px;
	width: 100%;
	
	color:white;
	background-color: #426AB3;
	opacity:0.65;
}

#top_center{
	
	width: 900px;
	height: 100%;
	
	margin: 0px auto;
}

#top_logo{
	
	height:40px;
	width:30%;
	font-size: 23px;
	float: left;
	
	text-align: left;
}
#top_login{
	height:40px;
	width:30%;
	font-size: 23px;
	float: right;
	text-align: right;
}



#center{
	
	
	height: 60px;
	width: 900px;
	margin: 200px auto;
	
	
}
#center_font{
	
	margin-left:100px;
	height: 60px;
	width: 120px;
	line-height: 60px;
	text-align: center;
	
	font-size: 23px;
	font-weight: bold;
	background-color: white;
	float: left;
}

#center_selectAddress{
	
	margin-left:5px;
	height: 100%;
	width: 460px;
	
	background-color:white;
	float: left;
}

select {
	margin-left:10px;
	font-size: 23px;
	height: 60px;
	width:120px;
	border: 0 ;
	background-color:white;
	color: #A6BDAA;
	font-weight: bold;
}

#center_gotoHome{
	
	margin-left:20px;
	height: 60px;
	width: 120px;
	line-height: 60px;
	text-align: center;
	color:white;
	font-size: 23px;
	font-weight: bold;
	background-color: #426AB3;
	float: left;
	
}
#center_gotoHome:HOVER{
	
	cursor: pointer;
	background-color: white;
	color: #426AB3;
}

#footer{
    font-size: 15px;
    color: white;
    position: absolute;
	top: 99%;
	left: 56%;
	margin: -50px 0 0 -330px;
    
}