.orderBody{
	width:-webkit-fill-available;
	height: 100px;
}
.orderImg{
	width:100px;
	height: 60px;
	padding: 20px 0px;
	float: left;
}
.img{
	width:90px;
	height: 60px;
	float: left;
}
.orderL{
	width:200px;
	height: 60px;
	padding: 10px 0px;
	margin: 0px 10px;
	float: left;
}
.orderM{
	width:320px;
	height: 60px;
	padding: 10px 0px;
	float: left;
}
.orderR{
	width:120px;
	height: 60px;
	padding: 10px 0px;
	float: left;
}
.clear{
	clear: both;
}
.fontBr{
	font-family: "微软雅黑";
	font-size: 20px;
	color: brown;
}
.fontB{
	font-family: "微软雅黑";
	font-size: 20px;
	color:darkslategrey;
	font-weight: bold;
}
.fontB2{
	font-family: "微软雅黑";
	font-size: 17px;
	color:slategrey;
	font-weight: bold;
}
.fontR{
	font-family: "微软雅黑";
	font-size: 17px;
	color:red;
	font-weight: bold;
}
.fontG{
	font-family: "微软雅黑";
	font-size: 15px;
	color: grey;
}
.fontG2{
	font-family: "微软雅黑";
	font-size: 13px;
	color: grey;
	margin: 7px 0px;
}
.detailBody{
	width:-webkit-fill-available;
	margin: 10px 0px;
}
.detailL{
	width:30%;
	float: left;
	background-color:ghostwhite;
}
.detailL1{
	height:20px;
	border:1px solid #CCCCCC;
	padding: 10px 10px;
}
.detailL2{
	height:auto;
	border:1px solid #CCCCCC;
	padding: 10px 10px;
}
.detailL3{
	height:140px;
	border:1px solid #CCCCCC;
	padding: 10px 10px;
}
.detailL4{
	height:auto;
	border:1px solid #CCCCCC;
	padding: 10px 10px;
}
.detailR{
	width:55%;
	float: left;
	padding: 20px 20px;
	border-top:1px solid #CCCCCC;
}
a{
	text-decoration:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.btn1 {
   font-size: 14pt;
   border: 1px #003399 solid;
   color: #B086A9;
   border-bottom: #93bee2 1px solid;
   border-left: #93bee2 1px solid;
   border-right: #93bee2 1px solid;
   border-top: #93bee2 1px solid;
   background-color: #f8f4ff;
   cursor: hand;
   font-style: normal;
   width: 120px;
   height: 32px;
}