body{
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.hU {
	width:100%;
	display: inline-block;
	background-color: #426AB3;
	font-size: 15px;
	padding: 12px 0px;
}
.hUL {
	color: white;
	text-align: right;
	width:26%;
	float: left;
}
.hUR {
	color:white;
	text-align: right;
	width:55%;
	float: left;
}
.hD {
	width:80%;
	height: 65px;
	background-color: white;
	padding: 1px 0px 25px 0px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: auto;
	margin-right: auto;
	
}
.hD1 {
	width:22%;
	height:100%;
	float: left;
}
.hD2 {
	width:30%;
	color:#808080;
	padding-top: 10px;
	float: left;
	font-size: 21px;
}
.hD2D {
	margin: 0px 5px;
	padding: 0px 5px;
	border-right: 2px solid #CCCCCC;
	float: right;
}
.HLogo {
	width: 150px;
	height:100%;
	float: right;
}
.hD3 {
	width:32%;
	float: left;
	padding-top: 10px;
}
.searchBox{
	width: 200px;
	height: 18px;
	float:right;
}
.searchBtn{
	float: left;
	padding-top: 11px;
	color: #808080;
	margin-left: 5px;
	cursor: pointer;
}
.mainBox{
	width:80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px ;
	
}
.sidebarBox {
	width: 150px;
	height: 600px;
	color: rgb(217, 230, 235);
	font-size: 15px;
	font-weight:bold;
	float: left;
	margin-right: 5px;
	text-align: left;
	padding-left: 30px;
	background-color: rgb(217, 230, 235);
	border:1px solid #CCCCCC;
}
.sideAttrBox{
	
	margin: 10px 0px;
	
}
.sideAttrChildBox{
	
	padding-left: 20px;
	margin: 10px 10px;
}
.contentBox{
	width:auto;
	float: left;
	height: 100%;
	
	text-align: left;
	padding-left: 30px;
	display: inline-block;
	
}
.sideAttrBox a{
	text-decoration: none;
	color:#808080;
	cursor:pointer;
}
.sideAttrChildBox a{
	text-decoration: none;
	color:#808080;
	cursor:pointer;
}